*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
  background: url(4565.jpg);
} */

.App{
  width: 100%;
  min-height: 100vh;
  background-size: 60% 110vh;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: right;
}

.nav-bar{
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  background: #9dd49a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nav-item-container{
  width: 60%;
  height: 100%;
  /* background: black; */
  display: flex;
  align-items: center;
}
.nav-items{
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  text-decoration: none;
  list-style: none;

  /* background: black; */
}

.item:hover{
  width: fit-content;
  height: 100%;
  background: #e7f3ff;
  cursor: pointer;
  border-radius: 5px;
}


@media screen and (max-width: 1424px) {
  .App{
    background-size: 60% 120%;
  }
}
@media screen and (max-width: 720px) {
  .App{
    background-size: 75% 120%;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 58% 100%, 78% 35%, 0 15%, 0 0);
  }
}
